* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.shop__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1030px;
  margin: 0 auto;
}

.item-element__img img{
  display: block;
  max-width: 100%;
}

.item-element {
  max-width: 250px;
  border: 1px solid #ccc;
  padding: 10px;
}

.item-element__price {
  font-weight: bold;
  text-align: right;
}